.App {
  background-color: #0e1213;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 22vh;
  pointer-events: none;
}

.of51-img {
  height: 22vh;
  pointer-events: none;
}

.of52-img {
  height: 22vh;
  pointer-events: none;
}

.of53-img {
  height: 22vh;
  pointer-events: none;
}

.of54-img {
  height: 22vh;
  pointer-events: none;
}

.of55-img {
  height: 22vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0e1213;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0000EE;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
